<form>

    <div class="form-group">
        <label for="nom">Nom</label>
        <input type="text" class="form-control" id="nom" placeholder="Entrez votre nom">
    </div>
    <div class="form-group">
        <label for="prenom">Prénom</label>
        <input type="text" class="form-control" id="prenom" placeholder="Entrez votre prénom">
    </div>
    <div class="form-group">
        <label for="rue">Rue</label>
        <input type="text" class="form-control" id="rue" placeholder="Entrez votre rue">
    </div>
    <div class="form-group">
        <label for="cp">Code Postal</label>
        <input type="text" class="form-control" id="cp" placeholder="Entrez votre code postal">
    </div>
    <div class="form-group">
        <label for="ville">Ville</label>
        <input type="text" class="form-control" id="ville" placeholder="Entrez votre ville">
    </div>
    <div class="form-group">
        <label for="courriel">Courriel</label>
        <input type="email" class="form-control" id="courriel" placeholder="Entrez votre courriel">
    </div>
    <div class="form-group">
        <label for="genre">Genre</label>
        <select class="form-control" id="genre">
            <option>Homme</option>
            <option>Femme</option>
            <option>Autre</option>
        </select>
    </div>
    <div class="form-group">
        <label for="age">Age</label>
        <input type="number" class="form-control" id="age" placeholder="Entrez votre âge">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>